package ${package}.pojo;

import java.io.Serializable;
import lombok.Data;


/**
 * ${comments}
 * 
 * @author YuKai Fan
 * @create ${datetime}
 */
@Data
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
#if($column.attrname != 'createTime' && $column.attrname != 'updateTime' && $column.attrname != 'createUserId' && $column.attrname != 'updateUserId')
	#if($column.comments.length() > 0)
    //$column.comments
	#end
	private $column.attrType $column.attrname;
	#end
#end

###foreach ($column in $columns)
##    #if($column.attrname != 'createTime' && $column.attrname != 'updateTime' && $column.attrname != 'createUserId' && $column.attrname != 'updateUserId')
##        #if($column.comments.length() > 0 )
##            /**
##             * 设置：${column.comments}
##             */
##            #end
##            public void set${column.attrName}($column.attrType $column.attrname) {
##                this.$column.attrname = $column.attrname;
##            }
##            #if( $column.comments.length() > 0 )
##            /**
##             * 获取：${column.comments}
##             */
##            #end
##            public $column.attrType get${column.attrName}() {
##                return $column.attrname;
##            }
##        #end
##    #end

}
