<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javaweb.MichaelKai.mapper.BasicDictMapper">

    <!-- 根据dict_code查询数据字典项 -->
    <select id="getDictItemsByParam" parameterType="Map" resultType="Map">
        SELECT <include refid="dictItem_select_cond" />
        FROM tb_dict_item a LEFT JOIN tb_dict b on a.dic_id = b.id
        <where>
            <if test="code != null and code != '' and code != 'null' and code != undefined">
                AND b.dic_code = #{code}
            </if>
            <if test="name != null and name != '' and name != 'null' and name != undefined">
                AND b.dic_name = #{name}
            </if>
        </where>
    </select>

    <!-- 查询的选择项, 增删字段时调整 -->
    <sql id="dictItem_select_cond">
        a.id id ,
        a.dic_id dicId ,
        a.item_code itemCode ,
        a.item_name itemName ,
        a.item_sort itemSort ,
        a.remark remark ,
        a.status status
    </sql>


</mapper>