<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:base="https://github.com/Forever1996Fyk/project_base_v2.0">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
</head>
<body>
<div class="layui-form timo-compile">
    <form>
        <input type="hidden" name="id" th:if="${leave}" th:value="${leave.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label required">开始时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="startTime" placeholder="yyyy-MM-dd" name="startTime"  th:value="${leave.startTime}" readonly disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">结束时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="endTime" placeholder="yyyy-MM-dd" name="endTime" th:value="${leave.endTime}" readonly disabled>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">请假原因</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入请假原因" class="layui-textarea" name="reason" readonly disabled>[[${leave?.reason}]]</textarea>
            </div>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>