<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i>我的申请</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        <a th:href="@{/system/user/export}"><i class="fa fa-download"></i></a>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen put-row">
            <div class="pull-left layui-form-pane search-box">
                <form id="frmSearch">
                    <div class="layui-inline">
                        <label class="layui-form-label">流程部署id</label>
                        <div class="layui-input-block">
                            <input type="text" name="deploymentId" placeholder="请输入流程部署id" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">流程名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" placeholder="请输入流程名称" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">流程部署key</label>
                        <div class="layui-input-block">
                            <input type="text" name="key" placeholder="请输入流程部署key" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <!-- 这里使用a标签，因为在form标签中按钮会直接触发action,导致请求两次接口 -->
                        <a class="layui-btn" data-type="search">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </form>
            </div>
            <div class="pull-right screen-btn-group">
                <div class="btn-group-right">
                    <button class="layui-btn layui-btn-danger" data-title="删除" data-type="delete">
                        <i class="fa fa-trash"></i> 删除</button>
                </div>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table" id="processApplyListTable" lay-filter="tblist">
            </table>
        </div>
    </div>
</div>
<!-- 公共部分导入 -->
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/system/workflow/process/processApplyList.js}"></script>

</body>
</html>