<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
  <link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
</head>
<body class="timo-layout-page">
<div class=" layui-fluid layadmin-maillist-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md2" th:each="processClass: ${processClassList}">
      <div class="layadmin-contact-box" >
          <a class="open-popup" data-title="申请" th:attr="data-url=@{(${processClass.applyUrl})}" data-size="480,400">
            <div class="layadmin-text-center">
              <img th:src="@{'/api/attachments/' + ${processClass.classIcon} + '/0/image'}">
              <div class="layadmin-maillist-img layadmin-font-blod" th:text="${processClass.name}">请假流程</div>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>
<!-- 公共部分导入 -->
<script th:replace="/common/template :: script"></script>

</body>
</html>