<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:base="https://github.com/Forever1996Fyk/project_base_v2.0">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <div class="layui-card-body">
        <div class="timo-table-wrap">
            <input type="hidden" id="processInstanceId" th:value="${processInstanceId}">
            <table class="layui-table timo-table" id="viewProcDetailListTable" lay-filter="tblist">
            </table>
            <script type="text/html" id="flag">
                {{# if(d.flag){ }}
                <span class="layui-badge layui-bg-green">通过</span>

                {{# }else{ }}
                <span class="layui-badge">未通过</span>
                {{#  } }}
            </script>
        </div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/system/workflow/process/viewProcessDetail.js}"></script>
</body>
</html>