<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:base="https://github.com/Forever1996Fyk/project_base_v2.0">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        <a th:href="@{/system/user/export}"><i class="fa fa-download"></i></a>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen put-row">
            <div class="pull-left layui-form-pane timo-search-box">
                <form id="frmSearch">
                    <div class="layui-inline">
                        <label class="layui-form-label">是否已读</label>
                        <div class="layui-input-block timo-search-status">
                            <select class="timo-search-select" name="readed" base:dict="JUDGE_TYPE" base-empty=""></select>
                        </div>
                        <label class="layui-form-label">优先级</label>
                        <div class="layui-input-block timo-search-status">
                            <select class="timo-search-select" name="priority" base:dict="NOTICE_PRIORITY" base-empty=""></select>
                        </div>
                        <label class="layui-form-label">通告标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">通告内容</label>
                        <div class="layui-input-block">
                            <input type="text" name="content" placeholder="请输入内容" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <!-- 这里使用a标签，因为在form标签中按钮会直接触发action,导致请求两次接口 -->
                        <a class="layui-btn" data-type="search">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </form>
            </div>
            <div class="pull-right screen-btn-group">
                <div class="btn-group-right">
                    <button class="layui-btn" data-type="allMarkReaded" data-title="全部标记已读">
                    <i class="fa fa-eye"></i> 全部标记已读</button>
                </div>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table" id="myNoticeListTable" lay-filter="tblist">
                <script type="text/html" id="btn">
                    <a class="layui-btn layui-btn-xs" lay-event="contentView">查看内容</a>
                    <a class="layui-btn layui-btn-xs" lay-event="reply">回复</a>
                </script>
            </table>
        </div>
    </div>
</div>
<!-- 公共部分导入 -->
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/system/notice/myNotice.js}"></script>

</body>
</html>