<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:base="https://github.com/Forever1996Fyk/project_base_v2.0">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css">
</head>
<body>
<div class="layui-form timo-compile">
    <form id="frmCommon" th:action="@{/api/processClass}">
        <input type="hidden" name="id" th:if="${processClass}" th:value="${processClass.id}"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">流程名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="name" placeholder="请输入流程名称"
                           th:value="${processClass?.name}">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label required">流程类型</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="type" placeholder="请输入流程类型"
                           th:value="${processClass?.type}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">分类图标</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="file" name="classIcon" placeholder="请输入流程分类图标"
                           th:value="${processClass?.classIcon}">
                </div>
            </div>
            <div class="layui-inline">
                <span th:if="${processClass != null}"><img th:src="@{'/api/attachments/' + ${processClass.classIcon} + '/0/image'}" style="width: 36px; height: 36px"></span>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label required">申请页面url</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="applyUrl" placeholder="请输入流程申请页面url"
                           th:value="${processClass?.applyUrl}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">我的申请url</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="applyListUrl" placeholder="请输入我的申请列表页面url"
                           th:value="${processClass?.applyListUrl}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label required">我的待办url</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="upcomingListUrl" placeholder="请输入我的待办列表页面url"
                           th:value="${processClass?.upcomingListUrl}">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">我的已办url</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="alreadyListUrl" placeholder="请输入我的已办列表页面url"
                           th:value="${processClass?.alreadyListUrl}">
                </div>
            </div>

        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn ajax-submit-file" th:attr="data-edit-url=@{/api/editProcessClass}"><i class="fa fa-check-circle"></i> 保存</button>
                    <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/system/workflow/processClass/processClass.js}"></script>
</body>
</html>